<div class="container w-75 ">
    <div class="todos">
        <form (submit)="addTodo()">
            <input
                type="text"
                name="inputTodo"
                placeholder="Enter a task here"
                class="todo-input form-control"
                [(ngModel)]="inputTodo"
            />
            <div class="d-grid gap-2 col-2 mt-4 mb-5 mx-auto">
                <button class="todo-submit btn btn-warning btn-lg fw-bolder shadow-lg" type="submit" value="Add Todo">Add Todo</button>
              </div>
        </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
        <div class="id">{{ i }}</div>
        <div class="content" >{{ todo.content}}</div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-light btn-outline-success m-1" (click)="toggleDone(i)">Finished</button>
            <button type="button" class="btn btn-light btn-outline-danger m-1" (click)="deleteTodo(i)">Delete</button>
          </div>
    </div>
    </div>  
</div>